.notification_post_container{
    width: 90%;    
    margin: auto;
    border: solid;
    border-width: 0.5px;
    border-radius: 3px;
    border-color: silver;
    margin-top: 5px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.notification_container{
    border-bottom: solid;
    border-color: grey;
    border-width: 0.7px;
    padding-bottom: 8px;
    margin-bottom: 3px;
}

.notification_icons{
    color: limegreen;
}

.follower_name_container{
    margin-left: 5px;
}